.rooms__item {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.rooms__item:hover {
  background-color: #1f2024;
  cursor: pointer;
  border-radius: 15px;
}

.rooms__item .room__avatar {
  width: 42px;
  height: 42px;
  border: 4px solid var(--msg-color);
}

.rooms__item .room__info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rooms__item .room__info h4 {
  color: #c4c4c4;
  font-size: 15px;
  font-weight: 600;
}
.rooms__item .room__info p {
  color: #999494;
  font-size: 14px;
}

.rooms__item .timestamp {
  position: absolute;
  right: 10px;
  color: #a8a7a7;
  font-size: 13px;
}
